<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="guacaloco"
            name="vSphere Toolkit">
      </category>
      <view
            allowMultiple="false"
            category="guacaloco"
            class="guacaloco.views.GuacalocoView"
            icon="icons/vmware.png"
            id="guacaloco.views.Guacaloco"
            name="vSphere Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="guacaloco.views.Guacaloco"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
